/*======================================Shared=================================*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.nav-icons {
  margin-top: -5px;
}

.nav-drop-items {
  display: flex;
  text-align: right;
}

.nav-drop-items > .nav-icons {
  margin-top: 0;
  margin-right: 5px;
}
.nav-link {
  padding-right: 10px;
  border-radius: 5px;
}
.nav-link:hover, .nav-drop-items:hover  {
  background-color: #00000056;
  transition: 0.2s;
}
@media (max-width: 992px) {
  .dropdown-item {
    text-align: right !important;
  }
  .nav-drop-items {
    flex-direction: row-reverse;
  }
  .nav-drop-items > .nav-icons {
    margin-left: 5px;
  }
}

article{
  flex-grow: 1;
}

/* Add after again? */
section::before { 
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(71, 71, 165);
  margin: 10px 0;
}

th, tr, td {
  border: 1px solid rgb(160 160 160);
}

#copyright{
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

.outline-text{
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*======================================Tasks=================================*/
.task-grid {
  overflow-y: auto;
  display: flex; 
  flex-flow: wrap;
  justify-content: center;
  gap: 16px; 
  padding: 20px;
  margin: 1em;
  background-color: #767676;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0 2px 5px 2px black;
  border-radius: 5px;
}

.task-container {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 2px 5px black;
  width: 300px;

  box-sizing: border-box; 
}

.task-container table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.task-container th {
  text-align: center;
  /* padding: 0 5px; */
  font-weight: bold;
  background-color: #0000001d;
}

.task-container td {
  padding: 8px 0;
}


@media (max-width: 500px) {
  .task-container{
    font-size: 0.8rem;
  }
}

.task-buttons button{
  margin: 1px;
  box-sizing: border-box;
  border: 1px solid black;
}
/* ===================================Graphs================================= */

.chart-container{
  min-height: 400px;
  max-height: 60vh;
  margin-bottom: 100px;
}
#daily-bar-chart{
  height: 100% !important;
  width: 100%;

}



/*====================================Settings================================*/


/*=====================================About==================================*/
#about-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#credit-table {
  border: 2px solid rgb(140 140 140);

}
caption {
  caption-side: bottom;
  text-align: center;
  padding: 10px;
}

